page-view {
	justify-content: center;
	align-items: center;
	z-index: 0;
	position: relative;


	login-screen {
		display: flex;
		flex-direction: column;


		flex: 1;
		align-self: stretch;
		justify-content: center;
		align-items: center;

		> _-graphic[_for=logo] {
			width: 150px;
			height: 150px;
			background-image: url(icon.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			position: absolute;
			top: 0; }

		> _-action {
			width: 230px;
			height: 46px;
			background-color: #FFFFFF;
			color: #000000;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			border-radius: 6px;
			font-weight: 500;

			&[_for=metamask], &[_for=flow] {
				&:before {
					content: ' ';
					display: flex;
					height: 30px;
					width: 30px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;

					margin-right: 8px; } }
			&[_for=metamask] {
				&:before {
					background-image: url(metamask-fox.png); } }
			&[_for=flow] {
				&:before {
					height: 26px;
					width: 26px;
					background-image: url(flow.png); } }
			}
		> _-action + _-action {
			margin-top: 30px; }

		}

	discover-screen {
		display: flex;
		flex-direction: column;


		flex: 1;
		align-self: stretch;

		> nav-view {
			> _-action[_for=ai-art-filter] {
				display: flex;
				flex-direction: column;
				height: 38px;
				align-items: center;

				icon-display[_for=ai-art-filter] {
					display: flex;
					height: 24px;
					width: 24px;
					background-image: url(ai-art-filter-icon.png);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center; }

				> icon-display + _-label {
					margin-top: 2px; }

				_-label {
					color: #FFFFFF;
					font-size: 12px;
					font-family: 'Helvetica Neue Condensed Bold'; }
				}
			}

		> _-layout[_for=content] {
			flex: 1;
			display: flex;
			flex-direction: column;

			banner-view {
				display: flex;
				height: 60px;
				justify-content: center;
				align-items: center;
				background-color: #2BFF95;
				color: #000000;
				font-size: 18px;
				font-family: 'Helvetica Neue Condensed Bold'; }

			banner-view + loyalty-card-view {
				margin-top: 27px;
				}

			loyalty-card-view {
				display: flex;
				flex-direction: column;

				padding: 0 25px;

				> _-label {
					font-size: 24px;
					font-family: 'Helvetica Neue Condensed Bold'; }

				> _-label + _-display {
					margin-top: 15px; }

				> _-display {
					font-size: 16px;
					font-family: 'Helvetica Neue Light';}

				> _-display + card-control {
					margin-top: 20px; }

				card-control {
					display: flex;
					width: 350px;
					height: 200px;
					background-color: #004297;
					border-radius: 10px;
					padding: 30px 20px;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: center;
					line-height: 50px;

					> stamp-view {
						display: flex;
						width: 50px;
						height: 50px;
						background-color: #D9D9D9;
						border-radius: 25px;

						> img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 50%; } }

					> stamp-view[_for=brand] {
						background-image: url(aff.png);
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center; }

					> stamp-view[_for=complete] {
						background-image: url(celebration-icon.png);
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						background-color: transparent;
						border-radius: 0; }

					> hr {
						width: 100%;
						height: 0;
						outline: none;
						border: none;
						margin: 0;
						margin-top: 30px; } }
				}

			loyalty-card-view + art-filters-view {
				margin-top: 30px; }

			art-filters-view {
				display: flex;
				flex-direction: row;

				padding: 0 25px;

				overflow: auto;

				-ms-overflow-style: none;
				scrollbar-width: none;

				&::-webkit-scrollbar { 
					display: none; /* Safari and Chrome */ }

				art-filter-view {
					display: flex;
					flex-direction: column;
					align-items: center;

					> _-label {
						font-size: 20px;
						font-family: 'Helvetica Neue Condensed Bold';
						width: 0;
						min-width: 100%; }

					> _-label + img {
						margin-top: 20px; }

					> img {
						width: auto;
						height: 200px; }
					}

				> art-filter-view + art-filter-view {
					margin-left: 25px; }
				}
			} }

	profile-screen {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-self: stretch;

		> nav-view {
			> _-action[_for=edit] {
				display: flex;
				position: absolute;
				height: 18px;
				width: 18px;
				right: 22px;
				background-image: url(edit-icon.png);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat; } }

		> _-layout[_for=content] {
			display: flex;
			flex-direction: column;
			align-self: stretch;
			flex: 1;

			overflow: auto;

			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar { 
				display: none; /* Safari and Chrome */ }

			> user-details-view:first-child {
				margin-top: 25px; }

			user-details-view {
				display: flex;
				flex-direction: row;

				profile-image-display:first-child {
					margin-left: 15px; }

				profile-image-display {
					display: flex;
					height: 120px;
					width: 120px;

					img {
						width: 120px;
						height: 120px;
						border-radius: 60px; } }

				> profile-image-display + _-layout[_for=content] {
					margin-left: 15px; }

				> _-layout[_for=content] {
					flex-shrink: 1;
					display: flex;
					flex-direction: column;

					name-display {
						font-size: 22px;
						font-family: 'Helvetica Neue Condensed Bold'; }

					> name-display + one-line-description-display {
						margin-top: 6px; }

					one-line-description-display {
						font-size: 14px;
						color: #F3E893; }

					> one-line-description-display + addresses-view {
						margin-top: 15px; }

					addresses-view {
						display: flex;
						flex-direction: column;

						address-display {
							display: flex;
							flex-direction: row;
							align-items: center;
							height: 16px;

							&:before {
								content: ' ';
								display: flex;
								height: 12px;
								width: 12px;
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat; }

							&:before {
								opacity: 85%; }

							&:before {
								margin-right: 5px; }

							&[_for=flow]:before {
								background-image: url(flow.png); }

							&[_for=polygon]:before {
								background-image: url(polygon.png); }

							_-display {
								font-size: 14px;
								filter: brightness(125%) saturate(65%);
								background: linear-gradient(90deg, #C66127 0%, #F6E894 50%, #A8B7DB 100%);
								-webkit-background-clip: text;
								background-clip: text;
								color: transparent; }

							> _-display + _-indicator[_for=copy] {
								margin-left: 8px; }

							> _-indicator[_for=copy] {
								background-image: url(copy-icon.png);
								display: flex;
								height: 12px;
								width: 12px;
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat; } }

						> address-display + address-display {
							margin-top: 2px; } }

					> addresses-view + description-display {
						margin-top: 25px; }

					description-display {
						font-size: 15px; } }

				> _-layout[_for=content]:last-child {
					margin-right: 15px; } }

			> user-details-view + showcase-view {
				margin-top: 25px; }

			nfts-view {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-self: stretch;

				nft-view {
					display: flex;
					width: calc(50% - 5px);
					aspect-ratio: 1;
					margin: 2.5px;
					border-radius: 8px;
					overflow: hidden;
					position: relative;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover; }

					&:before {
						content: ' ';
						display: flex;
						position: absolute;
						top: 0;
						left: 0;
						width: 30px;
						height: 30px;
						background-image: url(nft-icon.png);
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat; } }

				> _-indicator[_for=empty] {
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 1;
					font-family: 'Helvetica Neue Light'; } }
			} }

	art-filter-screen {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-self: stretch;

		> _-layout[_for=content] {
			display: flex;
			flex-direction: column;
			align-self: stretch;
			flex: 1;
			justify-content: center;
			align-items: center;

			filter-display {
				display: flex;
				margin: 25px;
				flex: 1;
				align-self: stretch;
				position: relative;

				> img {
					position: absolute;
					object-fit: contain;
					max-width: 100%;
					max-height: 100%;
					width: 100%;
					height: 100%;
					}
				}
			}

		> actions-view {
			display: flex;
			flex-direction: row;
			height: 120px;
			align-items: center;
			position: relative;

			> like-view {
				position: absolute;
				left: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;

				_-action[_for=like] {
					display: flex;
					height: 30px;
					width: 30px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;

					&[liked] {
						background-image: url(liked-icon.png); }
					&:not(&[liked]) {
						background-image: url(like-icon.png); } }

				> _-action[_for=like] + like-count-display {
					margin-top: 2px; }

				like-count-display {
					color: #E25B69; } }

			> _-action[_for=filter] {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 16px;
				border-color: #2FF4F4;
				border-style: solid;
				border-width: 3px;
				border-radius: 24px;
				font-size: 20px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				white-space: nowrap;
				font-family: 'Helvetica Neue Condensed Bold';

				&:before {
					content: ' ';
					height: 20px;
					width: 20px;
					background-image: url(ai-art-filter-2-icon.png);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					transform: scale(1.5) translateY(-2px);
					margin-right: 12px;
					margin-left: 5px; } } }

		}

	art-filter-result-screen {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-self: stretch;

		> _-layout[_for=content] {
			display: flex;
			flex-direction: column;
			align-self: stretch;
			flex: 1;
			justify-content: center;
			align-items: center;


			_-indicator[_for=filter-details] {
				display: flex;
				height: 60px;
				align-self: stretch;
				flex-direction: row;

				> _-display[_for=style], _-display[_for=content] {
					flex: 1;
					position: relative;
					color: white;
					font-size: 20px;
					font-family: 'Helvetica Neue Condensed Bold';
					justify-content: center;
					align-items: center;
					display: flex;

					img {
						position: absolute;
						top: 0;
						border: 0;
						right: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
						z-index: -1; } }

				_-display[_for=style]:before {
					content: 'STYLE'; }
				_-display[_for=content]:before {
					content: 'CONTENT'; } }


			filter-display {
				display: flex;
				margin: 25px;
				flex: 1;
				align-self: stretch;
				position: relative;

				> video {
					position: absolute;
					object-fit: contain;
					max-width: 100%;
					max-height: 100%;
					width: 100%;
					height: 100%;
					}
				}
			}

		> actions-view {
			display: flex;
			flex-direction: row;
			height: 60px;
			align-items: center;
			position: relative;

			> _-action[_for=mint] {
				position: absolute;
				left: 10px;
				padding: 10px 18px;
				background-color: #73F497;
				color: #000000;
				border-radius: 18px;
				font-size: 16px;
				font-family: 'Helvetica Neue Condensed Bold'; }

			> _-indicator[_for=animation] {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				font-family: 'Helvetica Neue Condensed Bold';
				font-size: 20px; }

			> _-action[_for=download] {
				position: absolute;
				right: 0;
				height: 24px;
				width: 24px;
				background-image: url(download-icon.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center; } }

		}

	art-filter-list-screen {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-self: stretch;

		> _-layout[_for=content] {
			display: flex;
			flex-direction: column;
			align-self: stretch;
			flex: 1;
			position: relative;

			> _-layout[_for=scroll] {
				display: flex;
				flex-direction: column;
				align-self: stretch;
				position: absolute;
				width: 100%;
				height: 100%;
				justify-content: flex-start;
				align-items: stretch;
				overflow: auto;

				-ms-overflow-style: none;
				scrollbar-width: none;

				&::-webkit-scrollbar { 
					display: none; /* Safari and Chrome */ }

				> ai-art-filter-item-view {
					display: flex;
					flex-direction: row;
					height: 120px;
					padding: 10px;
					position: relative;

					_-display[_for=image] {
						display: flex;
						height: 100px;
						width: 100px;
						position: relative;

						img {
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							width: 100%;
							height: 100%;
							object-fit: cover; } }


					> _-display[_for=image] + filter-details-view {
						margin-left: 10px; }

					filter-details-view {
						display: flex;
						flex-direction: column;
						justify-content: center;
						flex: 1;

						_-display[_for=artist-name] {
							font-size: 16px;
							font-family: 'Helvetica Neue Condensed Bold'; }

						_-display[_for=artwork-name] {
							font-size: 16px;
							font-family: 'Helvetica Neue Light Italic'; }

						_-display[_for=date-name] {
							font-size: 14px;
							font-family: 'Helvetica Neue Light Italic'; }

						> _-display + _-display {
							margin-top: 10px; } }

					> filter-details-view {
						margin-right: 50px; }

					_-indicator[_for=nav] {
						position: absolute;
						right: 10px;
						display: flex;
						height: 36px;
						width: 36px;
						background-image: url(nav-icon.png);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						top: 50%;
						transform: translateY(-50%); } } }


			}
		}

	}
